# ============================================================================
# DRAWDOWN PREDICTOR QQQ - .gitignore
# ============================================================================

# ============================================================================
# JUPYTER NOTEBOOK
# ============================================================================

.ipynb_checkpoints/
*/.ipynb_checkpoints/*
*.ipynb_checkpoints